{% extends "consejos_para_su_cultivo/cuidado_inicial/cuidado_inicial.html" %}
{% load static %}

{% block title %} Cuidado Inicial {% endblock %}
{% block content %}

{% for cuidado_inicial in cuidado_inicials %}
<link rel="stylesheet" href="{% static 'css/style.css'%}">
<div class="col-xl-6 d-flex justify-content-center">
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{ nombre.seleccion_semilla }}
        </button>
      </h2>
      <div class="row">
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <div class="col">
          <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
          </div>
          <div class="col">
            <img src="" class="">
          </div>
        </div>
      </div>
    </div>
    </div>
{% endfor %}
{% endblock %}