{% extends "consejos_para_su_cultivo/cuidado_inicial/cuidado_inicial.html" %}
{% load static %}

{% block title %} Cuidado Inicial {% endblock %}
{% block content %}

{% for cuidado_inicial in cuidado_inicials %}
<link rel="stylesheet" href="{% static 'style.css' %}">
    <div class="container-fluid mt-4">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h1 class="accordion-header border border-3 border-success rounded rounded-3" id="headingOne">
                    <button class="accordion-button fs-1 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      {{ cuidado_inicial.nombre }}
                    </button>
                </h1>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-lg-6 d-flex justify-content-center">
                                <p class="fw-semibold fs-5">{{ cuidado_inicial.descripcion}}</p>
                            </div>
                            <div class="col-12 col-lg-6 d-flex justify-content-center">
                                <img src="{{ cuidado_inicial.imagen.url }}" class="col-md-4 img-fluid rounded img-accordion mb-3" style="width: 40rem;">
                            </div>
                        </div>    
                      </div>
                        <div class="row">
                            <div class="col-md-12 justify-content-center order-md-2 order-1 mb-3 mb-md-0">
                                <div class="">
                                <h1 class="fw-bold mb-4">A TENER EN CUENTA:</h1>
                                <ul>
                                <li class="fw-semibold">{{ cuidado_inicial.a_tener_en_cuenta}}</li>
                                <li class="fw-semibold">{{ cuidado_inicial.a_tener_en_cuenta2}}</li>
                                <li class="fw-semibold">{{ cuidado_inicial.a_tener_en_cuenta3}}</li>
                                </ul>
                               </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}