
/*PAGINA INICIAL*/


.navbar-titulo{
    font-size: 3.5rem;
    font-weight: 800;
}

.navbar-modulos{
    font-size: 1rem;
    font-weight: 700;
}

.navbar-atajos{
    margin-top: 2rem;
}

.card-pgn-titulo{
    font-size: 3.5rem;
    font-weight: 900;
}

.card-pgn-subtitulo{
    margin-bottom: 2rem;
    font-size: 1.7rem;
    font-weight: 600;
}

.btn-pgn{
    font-size: 1.5rem;
    font-weight: 800;
}

/* MODULOS */

.user-icon{
    width: 4rem;
    margin-top: 2rem;
}


.card-spc{
    width: auto;
}

.spc-titulo{
    font-size: 1.5rem;
    margin-top: 5px;
    font-weight: 800;
}

.spc-subtitulo{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 15px;
}


@media (min-width: 319px) and (max-width: 768px){

    .navbar-titulo{
        font-size: 2rem;
        font-weight: 800;
    }

    .navbar-modulos{
        font-size: 1.3rem;
        font-weight: 700;
    }

    .card-pgn-titulo{
        font-size: 2rem;
        font-weight: 900;
    }
    
    .card-pgn-subtitulo{
        margin-bottom: 1rem;
        font-size: 1.1rem;
        font-weight: 600;
    }
    
    .btn-pgn{
        font-size: 1rem;
        font-weight: 800;
    }

    .spc-subtitulo{
        font-size: 1.6rem;
    }
}





@media (min-width: 2599px) {

    .navbar-titulo{
        font-size: 3.5rem;
    }

    .navbar-modulos{
        font-size: 2rem;
        font-weight: 700;
    }

    .user-icon{
        margin-top: 1rem;
    }


    .card-spc{
        width: 18.7rem;
    }

    .spc-titulo{
        font-size: 2.8rem;
        font-weight: 800;
    }

    .spc-subtitulo{
        font-size: 1.6rem;
        margin-bottom: 2px;
    }
}

@media (min-width: 1200px) and (max-width: 2598px){
    .user-icon{
        width: 5rem;
        margin-top: 1.6rem;
    }

    .navbar-titulo{
        font-size: 5rem;
        font-weight: 800;
    }

    .hr-top{
        width: 178rem;
    }

    .navbar-modulos{
        font-size: 2.5rem;
        font-weight: 700;
        margin-top: 1rem;
    }

    .card-pgn-titulo{
        font-size: 3.5rem;
        font-weight: 900;
    }
    
    .card-pgn-subtitulo{
        margin-bottom: 3.5rem;
        font-size: 1.8rem;
        font-weight: 600;
    }
    
    .btn-pgn{
        font-size: 1.6rem;
        font-weight: 800;
    }

    .card-spc{
        width: 25rem;
    }

    .spc-titulo{
	font-size: 3rem;
    font-weight: 800;
    }	

    .spc-subtitulo{
    font-size: 1.8rem;
    margin-bottom: 2px;
    }

}

@media (min-width: 2200px) and (max-width: 2800px){

    .user-icon{
        width: 6rem;
        margin-top: 3.5rem;
    }

    .navbar-titulo{
        font-size: 8rem;
        font-weight: 800;
    }

    .hr-top{
        width: 178rem;
    }

    .navbar-modulos{
        font-size: 2.5rem;
        font-weight: 700;
        margin-top: 1rem;
    }

    .card-pgn-titulo{
        font-size: 6.6rem;
        font-weight: 900;
    }
    
    .card-pgn-subtitulo{
        margin-bottom: 3.5rem;
        font-size: 2.2rem;
        font-weight: 600;
    }
    
    .btn-pgn{
        font-size: 2.5rem;
        font-weight: 800;
    }

    .card-spc{
        width: 25rem;
    }

    .spc-titulo{
	font-size: 6rem;
    font-weight: 800;
    }	

    .spc-subtitulo{
    font-size: 3rem;
    margin-bottom: 2px;
    }

}
