{% extends "plagas_y_enfermedades/etapa_de_crecimiento/etapa_de_crecimiento.html" %}
{% load static %}

{% block title %}Etapa De Crecimiento{% endblock %}
{% block content %}

{% for etapa_de_crecimiento in etapa_de_crecimientos %}
<link rel="stylesheet" href="{% static 'style.css'%}">
<div class="col-xl-4 d-flex justify-content-center">
  <div class="card" style="width: 30rem;">
            <div class="card-img">
                <img src=" {{etapa_de_crecimiento.imagen.url}} " class="d-block img-fluid" alt="Imagen 1" style="height: 18.6rem; width: 29rem;">
            </div>
    <div class="card-body">
        <h2 class="card-subtitle mb-2 text-muted fw-bold"> {{etapa_de_crecimiento.tipo}} </h2>
        <h1 class="card-title fw-bold"> {{etapa_de_crecimiento.titulo}} </h1>
    </div>
</div>
</div>
{% endfor %}
{% endblock %}