{% extends "plagas_y_enfermedades/etapa_de_fructificacion/etapa_de_fructificacion.html" %}
{% load static %}

{% block title %}Etapa De Fructificacion{% endblock %}
{% block content %}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

{% for etapa_de_fructificacion in etapa_de_fructificacions %}
<link rel="stylesheet" href="{% static 'style.css'%}">
<div class="col-xl-4 d-flex justify-content-center">
  <div class="card container-fluid" style="width: 30rem;"><a href="{{ etapa_de_fructificacion.urldestino}}">
            <div class="img-card">
                <img src=" {{etapa_de_fructificacion.imagen.url}} " class="d-block img-fluid" alt="Imagen 1" style="height: 18.6rem; width: 29rem;">
            </div>
    <div class="card-body">
        <h2 class="card-subtitle mb-2 text-muted fw-bold"> {{etapa_de_fructificacion.tipo}} </h2>
        <h1 class="card-title fw-bold"> {{etapa_de_fructificacion.titulo}} </h1>
    </div>
  </a>
</div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endfor %}
{% endblock %}