{% extends "broca/broca.html" %}
{% load static %}


{% block title %}Broca{% endblock %}

{% block content %}

  {% for broca in brocas %}
    <div class="col-xl-7 mt-4">
          <h1 class="fw-bold" style="font-size: 3.5rem;">{{ broca.nombre }}</h1>
          <h2 class="fw-bold" style="font-size: 2.5rem;">{{ broca.tipo }}</h2>
          <h1 class="fw-bold" style="font-size: 3rem;">Descripcion:</h1>
          <p class="col-xl-11 fw-semibold fs-5">{{ broca.descripcion }}</p>
            <h1 class="fw-bold mt-4" style="font-size: 3rem;">Sintomas:</h1>
            <ul class="fw-semibold fs-4">
                <li>{{ broca.sintomas }}</li>
                <li>{{ broca.sintomas2 }}</li>
                <li>{{ broca.sintomas3 }}</li>
            </ul>
     </div>

    <div class="col-xl-5 mt-4">
            <img src="{{ broca.imagen.url }}" class="img-fluid rounded-0 d-flex justify-content-center">
            <h3 class="fw-bold mt-3" style="font-size: 2.9rem;">Metodos de prevencion:</h3>
            <p class="fw-semibold fs-5">{{ broca.mdp }}</p>
    </div>
 
  {% endfor %}
{% endblock %}